STACK_NAME=fabricdns
SWARM_NETWORK=fabric_dns

FABRIC_PEER_IMAGE=fabric-dns-peer:swarm
BIND_IMAGE=internetsystemsconsortium/bind9:9.18

CORE_PEER_NETWORKID=dev
CORE_LOGGING_LEVEL=info
PEER_START_DELAY=10
CORE_PBFT_GENERAL_N=10
CORE_PBFT_GENERAL_F=3
CORE_PBFT_GENERAL_BATCHSIZE=500
CORE_PBFT_GENERAL_TIMEOUT_BATCH=1s
CORE_PBFT_GENERAL_TIMEOUT_REQUEST=24h
CORE_PBFT_GENERAL_TIMEOUT_VIEWCHANGE=24h
CORE_PBFT_GENERAL_TIMEOUT_RESENDVIEWCHANGE=24h
CORE_PBFT_GENERAL_TIMEOUT_BROADCAST=2s
CORE_PBFT_GENERAL_VIEWCHANGEPERIOD=0
CORE_DNS_SUBNET=10.161.34.0/24

VP0_NODE=roott-I620-G20
VP1_NODE=roott-I620-G20
VP2_NODE=roott-I620-G20
VP3_NODE=roott-I620-G20
VP4_NODE=qichang-I420-G20
VP5_NODE=qichang-I420-G20
VP6_NODE=qichang-I420-G20
VP7_NODE=node21
VP8_NODE=node21
VP9_NODE=node21
BIND_NODE=node21

# Experiment 3: byzantine primary with PoW defense.
VP0_BYZANTINE=true
VP1_BYZANTINE=false
VP2_BYZANTINE=false
VP3_BYZANTINE=false
VP4_BYZANTINE=false
VP5_BYZANTINE=false
VP6_BYZANTINE=false
VP7_BYZANTINE=false
VP8_BYZANTINE=false
VP9_BYZANTINE=false

DNS_BZAUTHORITY=10.161.34.22:5353
DNS_POW_TARGET=000000ffffffffffffffffffffffffffffffffffffffffffffffffffffffffff

VP0_REST_PORT=7050
VP0_GRPC_PORT=7051
VP0_EVENTS_PORT=7053
VP0_PROFILE_PORT=6060
VP0_ENDPOINT=10.161.34.8:7051

BIND_CONFIG_DIR=/opt/fabric-dns/bind/config
BIND_CACHE_DIR=/opt/fabric-dns/bind/cache
BIND_RECORDS_DIR=/opt/fabric-dns/bind/records
BIND_TCP_PORT=53
BIND_UDP_PORT=53

CHAINCODE_CTOR={"Function":"init","Args":["com:10.161.34.22:53","cn:10.161.34.22:53"]}
